{% extends "base_generic.html" %}

{% block content %}
    <h1>Book page</h1>

    {% if book %}
    <ul>

      <li>
        <a>Title: {{ book.title }}</a><br>
        <a>Description: {{ book.description }}</a><br>
        <a>Year: {{ book.year }}</a><br>
        <a>Volume: {{ book.volume }}</a><br>
      </li>
    </ul>

    {% else %}
      <p>Book not found..</p>
    {% endif %}
    {% if client_book %}
      <h4>You already have it! <a href="{% url 'read' %}?id={{ book.id }}">Read a book.</a></h6>
    {% else %}
      <h4>You have not bought this book yet.. <a href="{% url 'buy' %}?id={{ book.id }}">Buy this book.</a>
    {% endif %}
{% endblock %}